{erl_opts, [{parse_transform, lager_transform},
        {d, debug}]}.

{plugin_dir, "deps/yang/rebar_plugins"}.
{plugins, [rebar_yang_compiler]}.

{yang_opts, [
    {yang_dir, "test"},
    {yang_build_dir, "test/hrl"}
]}.

{deps, [
        {lager, ".*",         {git, "git://github.com/basho/lager.git", {branch, master}}},
        {cowboy, ".*",        {git, "git://github.com/extend/cowboy.git", {branch, "1.0.x"}}},
        {yang, ".*",          {git, "git://github.com/travelping/yang.git", {branch, "master"}}},
        {hackney, ".*",       {git, "git://github.com/benoitc/hackney.git", {branch, master}}},
        {ex_uri, ".*",        {git, "git://github.com/heroku/ex_uri.git", {branch, master}}},
        {ezmq, ".*",          {git, "git://github.com/RoadRunnr/ezmq.git", {branch, "fix-socket-crash"}}},
        {jsx, ".*",           {git, "git://github.com/talentdeficit/jsx.git", {branch, develop}}},
        {msgpack, ".*",       {git, "git://github.com/msgpack/msgpack-erlang.git", {tag, "0.6.0"}}},
        {dnssd, ".*",         {git, "git://github.com/benoitc/dnssd_erlang.git", {branch, master}}},
        {meck, ".*",          {git, "git://github.com/eproxus/meck.git", {branch, master}}},
        {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core", "5fdd9426713a3c26cae32f644a3120711b1cdb64"}},
        {coveralls, ".*",     {git, "git://github.com/markusn/coveralls-erl.git", {branch, "master"}}}
       % {tetrapak_yang, ".*", {git, "git://github.com/travelping/tetrapak_yang.git", {branch, master}}}
       ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
