{erl_opts, [{parse_transform, lager_transform}, {d, debug}]}.

{plugins, [
           coveralls,
           {rebar3_yang_plugin, {git, "git://github.com/surik/rebar3_yang_plugin.git", {tag, "0.2.2"}}}
          ]}.

{provider_hooks, [
                  {post, [{compile, {yang, compile}}]}
                 ]}.

{yang_opts, [
    {yang_dir, "test"},
    {yang_build_dir, "test/hrl"}
]}.

{deps, [
        lager, 
        {cowboy, "1.1.2"},
        hackney, 
        jsx, 
        hackney,
        exometer_core,
        {msgpack, "0.6.0"},
        {yang, ".*",          {git, "git://github.com/travelping/yang.git", {branch, "master"}}},
        {ex_uri, ".*",        {git, "git://github.com/heroku/ex_uri.git", {branch, master}}},
        {ezmq, ".*",          {git, "git://github.com/RoadRunnr/ezmq.git", {branch, "fix-socket-crash"}}},
        {dnssd, ".*",         {git, "git://github.com/benoitc/dnssd_erlang.git", {branch, master}}}
       ]}.


{profiles, [
    {test, [
        {deps, [meck]}
    ]}
]}.

{overrides, [
             {override, abnfc, [{erl_opts, [nowarn_export_all]}]},
             {override, yang, [{plugins, [pc]}, 
                               {provider_hooks, [{post, [{compile, {pc, compile}}, 
                                                         {clean, {pc, clean}}]}]}]},
             {override, dnssd, [{plugins, [pc]}, 
                                {provider_hooks, [{post, [{compile, {pc, compile}}, 
                                                          {clean, {pc, clean}}]}]}]},
             {override, ex_uri, [{plugins, [rebar3_abnfc_plugin]},
                                 {provider_hooks, [{pre, [{compile, {abnfc, compile}}]}]}]}
            ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_service_name, "travis-ci"}.
{do_coveralls_after_ct, false}.
{do_coveralls_after_eunit, false}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
