{erl_opts, [{parse_transform, lager_transform}, 
            {d, debug}]}.

{deps, [
        {lager, ".*",         {git, "https://github.com/basho/lager.git", {tag, "2.1.1"}}},
        {cowboy, ".*",        {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
        {yang, ".*",          {git, "https://github.com/travelping/yang.git", {branch, master}}},
        {ibrowse, ".*",       {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v2.2.0"}}},
        {ex_uri, ".*",        {git, "https://github.com/heroku/ex_uri.git", {branch, master}}},
        {erlzmq, ".*",        {git, "https://github.com/zeromq/erlzmq2.git", {branch, master}}}
       ]}.
